<!DOCTYPE html>
<html>
<head>
    <title>Scanned Receipts Predictor</title>
</head>
<body>
    
    <div>
    <h1>Scanned Receipts Predictor</h1>
    <h3>Enter the following values to predict the scanned receipts for future dates</h3>

    <!-- Form used for user input used for machine learning -->
    <form action="{{url_for('predict')}}" method="post">
        <input type="text" name="year" placeholder="Enter year (yyyy)" required="required" />
        <input type="text" name="month" placeholder="Enter month (mm)" required="required" />
        <button type="submit" class="btn">Predict</button>
    </form>

    <br>
    {{prediction_result}}
    </div>

</body>
</html>
