<!DOCTYPE html>
<html>
<head>
    <title>Scanned Receipts Predictor</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div>
        <h1>Scanned Receipts Predictor</h1>
        <h3>Enter the following values to predict the scanned receipts for future dates</h3>

        <!-- Form used for user input used for machine learning -->
        <form action="{{url_for('predict')}}" method="post">
            <input type="text" name="year" placeholder="Year (yyyy)" required="required" />
            <br>
            <input type="text" name="month" placeholder="Month (mm)" required="required" />
            <br>
            <button type="submit" class="btn">Predict</button>
        </form>

        <!-- Improved prediction_result section -->
        <div id="prediction_result">
            {{prediction_result}}
        </div>
    </div>
</body>
</html>
